@import "./base/fonts.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";

html{
    scroll-behavior: smooth;
}


@media all and (max-width: 1024px){

    .logo{
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 45px;
    }

    body{
        margin: 0;
    }

    header{
        width: $section-width;
        background-color: $section-background;
        padding-bottom: 80px;
        .band{
            background: linear-gradient(0deg, #E9E9E9, #C4C4C4);
            height: 7px;
        }
        .location{
            padding: 20px 20px;
            background-color: #E9E9E9;
            .fas.fa-map-marker-alt{
                margin-right: 20px;
                height: 1px;
            }
        }
        h1{
            width: 70%;
            margin: auto;
            margin-top: 45px;
            margin-bottom: 15px;
        }
        p{
            width: 80%;
            margin: auto;
            margin-bottom: 60px;
        }
        a{
            background: linear-gradient(170deg, $secondary-color, $primary-color);
            padding: 20px 30px 20px 30px;
            border-radius: 40px;
            box-shadow: $shadow-box;
        }
    }

    h2{
        margin-left: 15px;
    }

    .function{
        padding-inline-start: 25px;
        padding-inline-end: 25px;
        :hover{
            background-color: $hover-color;
        }
        .iconelist{
            :hover{
                background-color: $primary-color;
            }
        }
        
        &__1{
            background-color: $section-background;
            margin-bottom: 25px;
            padding: 30px 40px 25px 40px;
            border-radius: 20px;
            box-shadow: $shadow-box;
            display: flex;
            justify-content: left;
            align-items: center;
            .numberlist{
            background-color: $primary-color;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin: 0 25px 0 -55px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .textlist{
            margin-left: 25px;
        }
            }
        &__2{
            background-color: $section-background;
            margin-bottom: 25px;
            padding: 30px 40px 25px 40px;
            border-radius: 20px;
            box-shadow: $shadow-box;
            display: flex;
            justify-content: left;
            align-items: center;
            .numberlist{
            background-color: $primary-color;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin: 0 25px 0 -55px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .textlist{
            margin-left: 25px;
        }
            }
        &__3{
            background-color: $section-background;
            margin-bottom: 25px;
            padding: 30px 40px 25px 40px;
            border-radius: 20px;
            box-shadow: $shadow-box;
            display: flex;
            justify-content: left;
            align-items: center;
            .numberlist{
            background-color: $primary-color;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin: 0 25px 0 -55px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .textlist{
            margin-left: 25px;
        }
            }
    }

    .restaurant{

        &__choix{
            position: relative;
        }


    }

    .pin{
        position: absolute;
        top: 5px;
        right: 5px;
    }

}


