@charset "UTF-8";
header {
  font-family: Roboto, sans-serif;
  text-align: center;
}
header .location {
  font-family: Roboto, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
header h1 {
  font-weight: 700;
}
header p {
  font-size: 1.3em;
}
header a {
  text-decoration: none;
  font-size: 1.25em;
  color: white;
}

.titre-index {
  font-family: Roboto, sans-serif;
}

h2 {
  font-family: Roboto, sans-serif;
}

.function {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.function__card {
  display: flex;
  text-align: center;
  font-size: 1.15em;
}
.function__card .numberlist {
  color: white;
  font-weight: 700;
  font-size: 0.75em;
}
.function__card .textlist {
  text-align: left;
}
.function__card .iconelist {
  color: #7E7E7E;
}

.pin {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.legende {
  font-family: Roboto, sans-serif;
  font-size: 1.3em;
}

.legende_gras {
  font-weight: 700;
}

footer {
  font-family: Roboto, sans-serif;
}

input {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
}

textarea {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
}

.command {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.send {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes visibility {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visibility-loading {
  0% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
/*page d'accueil*/
.header_accueil {
  width: 100%;
  background-color: #F4F4F4;
  padding-bottom: 80px;
}
.header_accueil .band {
  background: linear-gradient(0deg, #E9E9E9, #c4c4c4);
  height: 9px;
}
.header_accueil .location {
  padding: 20px 20px;
  background-color: #E9E9E9;
}
.header_accueil .location .fas.fa-map-marker-alt {
  margin-right: 20px;
  height: 1px;
}
.header_accueil h1 {
  width: 70%;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 15px;
}
.header_accueil p {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
}
.header_accueil .scroll {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  padding: 20px 30px 20px 30px;
  border-radius: 40px;
  box-shadow: 3px 5px 10px #9E9D9D;
}

@media all and (max-width: 1024px) {
  .header_accueil {
    width: 100%;
    background-color: #F4F4F4;
    padding-bottom: 80px;
  }
  .header_accueil .band {
    background: linear-gradient(0deg, #E9E9E9, #c4c4c4);
    height: 9px;
  }
  .header_accueil .location {
    padding: 20px 20px;
    background-color: #E9E9E9;
  }
  .header_accueil .location .fas.fa-map-marker-alt {
    margin-right: 20px;
    height: 1px;
  }
  .header_accueil h1 {
    width: 70%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .header_accueil p {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
  }
  .header_accueil .scroll {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
}
/* page restaurant*/
.head__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.return {
  color: black;
  margin-left: 20px;
  font-size: xx-large;
}

.bloc {
  max-width: 100%;
  z-index: 1;
  position: relative;
}
.bloc__image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 1024px) {
  .head__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .return {
    color: black;
    margin-left: 20px;
    font-size: xx-large;
  }

  .bloc {
    max-width: 100%;
    z-index: 1;
    position: relative;
  }
  .bloc__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
/* page contact */
.header_contact {
  width: 100%;
  background-color: #F4F4F4;
}
.header_contact .band {
  background: linear-gradient(0deg, #E9E9E9, #c4c4c4);
  height: 9px;
}
.header_contact .location {
  padding: 20px 20px;
  background-color: #E9E9E9;
}
.header_contact .location .fas.fa-map-marker-alt {
  margin-right: 20px;
  height: 1px;
}

@media all and (max-width: 1024px) {
  .header_contact {
    width: 100%;
    background-color: #F4F4F4;
  }
  .header_contact .band {
    background: linear-gradient(0deg, #E9E9E9, #c4c4c4);
    height: 9px;
  }
  .header_contact .location {
    padding: 20px 20px;
    background-color: #E9E9E9;
  }
  .header_contact .location .fas.fa-map-marker-alt {
    margin-right: 20px;
    height: 1px;
  }
}
/* page d'accueil */
.restaurantall {
  background-color: #F4F4F4;
  height: 100%;
  padding: 0 0 45px 0;
}
.restaurantall .restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurantall .restaurant__choice {
  position: relative;
  height: 100%;
  width: 40%;
  border-radius: 15px;
  background-color: white;
  margin: 0 5% 0 5%;
  margin-bottom: 40px;
  padding-bottom: 15px;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.restaurantall .restaurant__choice__legende {
  display: flex;
  flex-direction: column;
}
.restaurantall .restaurant .etiquette {
  height: 230px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurantall .restaurant .legende {
  display: flex;
  justify-self: left;
  margin: 5px 25px 2px 10px;
}
.restaurantall .restaurant .legende_gras {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurantall .restaurant .heart {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-size: 20px;
  cursor: pointer;
}
.restaurantall .restaurant .heart .fas {
  display: none;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurantall .restaurant .heart:hover .fas {
  display: flex;
}
.restaurantall .restaurant .heart:hover .far {
  display: none;
}
.restaurantall .restaurant .pin {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  box-shadow: 3px 5px 10px black;
}

@media all and (max-width: 1024px) {
  .restaurantall {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    height: 100%;
    padding: 45px 0 45px 0;
  }
  .restaurantall .restaurant__choice {
    position: relative;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    margin: 0 5% 0 5%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .restaurantall .restaurant__choice__legende {
    display: flex;
    flex-direction: column;
  }
  .restaurantall .restaurant .etiquette {
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .restaurantall .restaurant .legende {
    display: flex;
    justify-self: left;
    margin: 5px 25px 2px 10px;
  }
  .restaurantall .restaurant .legende_gras {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .restaurantall .restaurant .heart {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
  }
  .restaurantall .restaurant .heart .fas {
    display: none;
    font-size: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurantall .restaurant .heart:hover .fas {
    display: flex;
  }
  .restaurantall .restaurant .heart:hover .far {
    display: none;
  }
  .restaurantall .restaurant .pin {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    color: #1b6150;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 5px 10px black;
  }
}
/* page générale */
footer {
  background-color: #494949;
  color: white;
  padding: 20px 0 40px 0;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
}
footer ul li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;
  cursor: pointer;
}
footer ul li .fa-utensils {
  margin-right: 18px;
}
footer ul li .fa-hands-helping {
  margin-right: 15px;
}
footer ul li .contact {
  color: white;
}
footer .logo_footer {
  display: block;
  margin: 0 0 20px 20px;
  padding-top: 20px;
  height: 20px;
  filter: invert(100%);
}
footer__text {
  margin-left: 5px;
}

@media all and (max-width: 1024px) {
  footer {
    background-color: #494949;
    color: white;
    padding: 20px 0 40px 0;
  }
  footer ul {
    list-style-type: none;
    padding-left: 20px;
  }
  footer ul li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 0;
    cursor: pointer;
  }
  footer ul li .fa-utensils {
    margin-right: 18px;
  }
  footer ul li .fa-hands-helping {
    margin-right: 15px;
  }
  footer ul li .contact {
    color: white;
  }
  footer .logo_footer {
    display: block;
    margin: 0 0 20px 20px;
    padding-top: 20px;
    height: 20px;
    filter: invert(100%);
  }
  footer__text {
    margin-left: 5px;
  }
}
/* page contact */
.footer-contact {
  position: relative;
  background-color: #494949;
  color: white;
  padding: 20px 0 40px 0;
  bottom: 0;
  width: 100%;
}
.footer-contact ul {
  list-style-type: none;
  padding-left: 20px;
}
.footer-contact ul li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;
  cursor: pointer;
}
.footer-contact ul li .fa-utensils {
  margin-right: 18px;
}
.footer-contact ul li .fa-hands-helping {
  margin-right: 15px;
}
.footer-contact ul li .contact {
  color: white;
}
.footer-contact .logo_footer {
  display: block;
  margin: 0 0 20px 20px;
  padding-top: 20px;
  height: 20px;
  filter: invert(100%);
}
.footer-contact__text {
  margin-left: 5px;
}

@media all and (max-width: 1024px) {
  .footer-contact {
    position: relative;
    background-color: #494949;
    color: white;
    padding: 20px 0 40px 0;
    bottom: 0;
    width: 100%;
  }
  .footer-contact ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .footer-contact ul li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 0;
    cursor: pointer;
  }
  .footer-contact ul li .fa-utensils {
    margin-right: 18px;
  }
  .footer-contact ul li .fa-hands-helping {
    margin-right: 15px;
  }
  .footer-contact ul li .contact {
    color: white;
  }
  .footer-contact .logo_footer {
    display: block;
    margin: 0 0 20px 20px;
    padding-top: 20px;
    height: 20px;
    filter: invert(100%);
  }
  .footer-contact__text {
    margin-left: 5px;
  }
}
html {
  scroll-behavior: smooth;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 45px;
}

body {
  margin: 0;
}

.loading__page {
  font-family: Shrikhand, sans-serif;
  font-size: 2.75em;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  -webkit-animation: visibility-loading 2s normal forwards;
  animation: visibility-loading 2s normal forwards;
}
.loading__page .dot1 {
  -webkit-animation: visibility 3s linear infinite;
  animation: visibility 3s linear infinite;
}
.loading__page .dot2 {
  -webkit-animation: visibility2 3s linear infinite;
  animation: visibility2 3s linear infinite;
}
.loading__page .dot3 {
  -webkit-animation: visibility3 3s linear infinite;
  animation: visibility3 3s linear infinite;
}

.titre-index {
  margin-left: 15px;
  padding: 40px 0 40px 0;
}

.function {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 0 40px 0;
}
.function > :hover {
  background-color: #F5E9FF;
}
.function > :hover .iconelist {
  color: #9356DC;
}
.function__card {
  width: 20%;
  background-color: #F4F4F4;
  margin-bottom: 25px;
  padding: 30px 40px 25px 40px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #9E9D9D;
  display: flex;
  justify-content: left;
  align-items: center;
}
.function__card .numberlist {
  background-color: #9356DC;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 25px 0 -55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.function__card .textlist {
  margin-left: 25px;
}
.function__card__text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media all and (max-width: 1024px) {
  .logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
  }

  body {
    margin: 0;
  }

  .titre-index {
    margin-left: 15px;
    padding: 0 0 20px 0;
  }

  .function {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    width: 90%;
  }
  .function > :hover {
    background-color: #F5E9FF;
  }
  .function > :hover .iconelist {
    color: #9356DC;
  }
  .function__card {
    width: auto;
    background-color: #F4F4F4;
    margin-bottom: 25px;
    padding: 30px 40px 25px 40px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .function__card .numberlist {
    background-color: #9356DC;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 25px 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .function__card .textlist {
    margin-left: 25px;
  }
  .function__card__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
.menu {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  background-color: #F4F4F4;
  border-radius: 60px 60px 0 0;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand, sans-serif;
}
.menu .titreresto {
  padding-top: 50px;
  font-size: 30px;
  margin-left: 20px;
}
.menu .heart {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  cursor: pointer;
  margin: 20px 40px 0 0;
}
.menu .heart .fas {
  display: none;
  font-size: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .heart:hover .fas {
  display: flex;
}
.menu .heart:hover .far {
  display: none;
}
.menu h2 {
  font-size: 20px;
  font-weight: 100;
  margin: 40px 0 0px 15px;
}
.menu .underline {
  height: 4px;
  width: 50px;
  margin: 5px 0 20px 15px;
  background-color: #99E2D0;
}
.menu .menu-width {
  width: 33.33%;
}
.menu .menuchoice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .menuchoice .card {
  opacity: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 77px;
  width: 95%;
  margin-left: 2.5%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 5px 10px #9E9D9D;
  margin: 0 2.5% 20px 2.5%;
  cursor: pointer;
  animation: fadein 750ms linear;
  animation-fill-mode: forwards;
}
.menu .menuchoice .card .legende {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menuchoice .card .legende__gras {
  font-weight: 700;
  margin: 0 0 0 15px;
}
.menu .menuchoice .card .legende p {
  animation: textreduction 750ms ease-in-out;
  height: 22px;
  width: auto;
  margin: 10px 0 10px 15px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menuchoice .card .prix {
  flex: 1 1;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30px;
  margin-right: 20px;
  font-weight: 700;
}
.menu .menuchoice .card .valid {
  width: 0px;
  transform: scaleX(1);
  transition: width 500ms;
  overflow: hidden;
}
.menu .menuchoice .card .valid .fa-check {
  transform: rotate(0deg);
  transition: transform 500ms;
}
.menu .menuchoice .card .legende {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menuchoice .card:hover .valid {
  width: 100px;
}
.menu .menuchoice .card:hover .valid .fa-check {
  transform: rotate(360deg);
  transition: transform 500ms;
}
.menu .menuchoice .card:hover .prix {
  width: 40px;
}
.menu .menuchoice .card:hover .legende {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menuchoice .card:nth-child(3) {
  animation-delay: 250ms;
  min-width: 320px;
}
.menu .menuchoice .card:nth-child(4) {
  animation-delay: 500ms;
  min-width: 320px;
}
.menu .menuchoice .card:nth-child(5) {
  animation-delay: 750ms;
  min-width: 320px;
}
.menu .menuchoice .card:nth-child(6) {
  animation-delay: 1000ms;
  min-width: 320px;
}
.menu .valid {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .valid .icon-check {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .valid .icon-check .fa-check {
  color: #99E2D0;
}
.menu .command {
  display: flex;
  justify-content: center;
  margin: 50px 25% 80px 25%;
  text-decoration: none;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  padding: 20px 30px 20px 30px;
  border-radius: 40px;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.menu .returntop {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px 0;
}
.menu .returntop .up {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  padding: 20px;
  box-shadow: 3px 5px 10px #9E9D9D;
}

@media all and (max-width: 1024px) {
  .menu {
    position: relative;
    z-index: 2;
    margin-top: -80px;
    background-color: #F4F4F4;
    border-radius: 60px 60px 0 0;
  }
  .menu__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Shrikhand, sans-serif;
  }
  .menu .titreresto {
    padding-top: 50px;
    font-size: 30px;
    margin-left: 20px;
  }
  .menu .heart {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    cursor: pointer;
    margin: 20px 40px 0 0;
  }
  .menu .heart .fas {
    display: none;
    font-size: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu .heart:hover .fas {
    display: flex;
  }
  .menu .heart:hover .far {
    display: none;
  }
  .menu h2 {
    font-size: 20px;
    font-weight: 100;
    margin: 40px 0 0px 15px;
  }
  .menu .underline {
    height: 4px;
    width: 50px;
    margin: 5px 0 20px 15px;
    background-color: #99E2D0;
  }
  .menu .menu-width {
    width: 100%;
  }
  .menu .menuchoice {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu .card {
    opacity: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 77px;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
    cursor: pointer;
    animation: fadein 750ms linear;
    animation-fill-mode: forwards;
  }
  .menu .card .legende {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu .card .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu .card .legende p {
    animation: textreduction 750ms ease-in-out;
    height: 22px;
    width: auto;
    margin: 10px 0 10px 15px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu .card .prix {
    flex: 1 1;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30px;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu .card .valid {
    width: 0px;
    transform: scaleX(1);
    transition: width 500ms;
    overflow: hidden;
  }
  .menu .card .valid .fa-check {
    transform: rotate(0deg);
    transition: transform 500ms;
  }
  .menu .card .legende {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu .card:hover .valid {
    width: 100px;
  }
  .menu .card:hover .valid .fa-check {
    transform: rotate(360deg);
    transition: transform 500ms;
  }
  .menu .card:hover .prix {
    width: 40px;
  }
  .menu .card:hover .legende {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu .card:nth-child(3) {
    animation-delay: 250ms;
  }
  .menu .card:nth-child(4) {
    animation-delay: 500ms;
  }
  .menu .card:nth-child(5) {
    animation-delay: 750ms;
  }
  .menu .card:nth-child(6) {
    animation-delay: 1000ms;
  }
  .menu .valid {
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .valid .icon-check {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .valid .icon-check .fa-check {
    color: #99E2D0;
  }
  .menu .command {
    display: flex;
    justify-content: center;
    margin: 50px 25% 80px 25%;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .menu .returntop {
    display: flex;
    justify-content: flex-end;
    margin: 0 25px 25px 0;
  }
  .menu .returntop .up {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
}
.mail__user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
.mail__user input {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.mail__user textarea {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.mail__object {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
.mail__object input {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.mail__object textarea {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.mail__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
.mail__text input {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}
.mail__text textarea {
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border-color: #FF79DA;
  border-style: none;
  box-shadow: 3px 5px 10px #9E9D9D;
}

.send {
  display: flex;
  justify-content: center;
  margin: 25px 40% 80px 40%;
  text-decoration: none;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  padding: 20px 30px 20px 30px;
  border-radius: 40px;
  box-shadow: 3px 5px 10px #9E9D9D;
}

@media all and (max-width: 1024px) {
  .mail__user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
  }
  .mail__user input {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .mail__user textarea {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .mail__object {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
  }
  .mail__object input {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .mail__object textarea {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .mail__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
  }
  .mail__text input {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .mail__text textarea {
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border-color: #FF79DA;
    border-style: none;
    box-shadow: 3px 5px 10px #9E9D9D;
  }

  .send {
    display: flex;
    justify-content: center;
    margin: 25px 25% 80px 25%;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
}

/*# sourceMappingURL=styles.css.map */
