@charset "UTF-8";
header {
  font-family: Roboto, sans-serif;
  text-align: center;
}
header .location {
  font-family: Roboto, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
header h1 {
  font-weight: 700;
}
header p {
  font-size: 1.3em;
}
header a {
  text-decoration: none;
  font-size: 1.25em;
  color: white;
}

.titre-index {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 2.25em;
  font-family: Shrikhand, sans-serif;
  font-weight: 700;
}

.function {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.function__1 {
  text-align: center;
  font-size: 1.3em;
}
.function__1 .numberlist {
  color: white;
  font-weight: normal;
  font-size: 0.75em;
}
.function__1 .textlist {
  text-align: center;
}
.function__2 {
  text-align: center;
  font-size: 1.3em;
}
.function__2 .numberlist {
  color: white;
  font-weight: normal;
  font-size: 0.75em;
}
.function__2 .textlist {
  text-align: center;
}
.function__3 {
  text-align: center;
  font-size: 1.3em;
}
.function__3 .numberlist {
  color: white;
  font-weight: normal;
  font-size: 0.75em;
}
.function__3 .textlist {
  text-align: center;
}

.pin {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.legende {
  font-family: Roboto, sans-serif;
  font-size: 1.3em;
}

.legende_gras {
  font-weight: 700;
}

footer {
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media all and (max-width: 1024px) {
  .logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
  }

  body {
    margin: 0;
  }

  .header_accueil {
    width: 100%;
    background-color: #F4F4F4;
    padding-bottom: 80px;
  }
  .header_accueil .band {
    background: linear-gradient(0deg, #E9E9E9, #C4C4C4);
    height: 7px;
  }
  .header_accueil .location {
    padding: 20px 20px;
    background-color: #E9E9E9;
  }
  .header_accueil .location .fas.fa-map-marker-alt {
    margin-right: 20px;
    height: 1px;
  }
  .header_accueil h1 {
    width: 70%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .header_accueil p {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
  }
  .header_accueil .scroll {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }

  h2 {
    margin-left: 15px;
  }

  .function {
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    max-width: 500px;
    margin: auto;
  }
  .function > :hover {
    background-color: #F5E9FF;
  }
  .function > :hover .iconelist {
    color: #9356DC;
  }
  .function__1 {
    background-color: #F4F4F4;
    margin-bottom: 25px;
    padding: 30px 40px 25px 40px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .function__1 .numberlist {
    background-color: #9356DC;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 25px 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .function__1 .textlist {
    margin-left: 25px;
  }
  .function__2 {
    background-color: #F4F4F4;
    margin-bottom: 25px;
    padding: 30px 40px 25px 40px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .function__2 .numberlist {
    background-color: #9356DC;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 25px 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .function__2 .textlist {
    margin-left: 25px;
  }
  .function__3 {
    background-color: #F4F4F4;
    margin-bottom: 25px;
    padding: 30px 40px 25px 40px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .function__3 .numberlist {
    background-color: #9356DC;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 25px 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .function__3 .textlist {
    margin-left: 25px;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .restaurant {
    background-color: #F4F4F4;
    height: 100%;
    padding: 45px 0 45px 0;
  }
  .restaurant__choice {
    position: relative;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    margin: 0 5% 0 5%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .restaurant__choice__legende {
    display: flex;
    flex-direction: column;
  }
  .restaurant .etiquette {
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .restaurant .legende {
    display: flex;
    justify-self: left;
    margin: 5px 25px 2px 10px;
  }
  .restaurant .legende_gras {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .restaurant .heart {
    display: flex;
    justify-content: flex-end;
    align-self: left;
    font-size: 20px;
    cursor: pointer;
  }
  .restaurant .heart .fas {
    display: none;
    font-size: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurant .heart:hover .fas {
    display: flex;
  }
  .restaurant .heart:hover .far {
    display: none;
  }

  .pin {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    color: #1b6150;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 5px 10px black;
  }
}
footer {
  background-color: #494949;
  color: white;
  padding: 20px 0 40px 0;
}
footer ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 20px;
  margin-block-end: 0;
}
footer ul li {
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;
  cursor: pointer;
}
footer ul li .fa-utensils {
  margin-right: 18px;
}
footer ul li .fa-hands-helping {
  margin-right: 15px;
}
footer .logo_footer {
  display: block;
  margin: 0 0 20px 20px;
  padding-top: 20px;
  height: 20px;
  filter: invert(100%);
}
footer__text {
  margin-left: 5px;
}

@media all and (max-width: 1024px) {
  .head__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .return {
    color: black;
    margin-left: 20px;
    font-size: xx-large;
  }

  .bloc {
    max-width: 100%;
    z-index: 1;
    position: relative;
  }
  .bloc__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .menu {
    position: relative;
    z-index: 2;
    margin-top: -80px;
    background-color: #F4F4F4;
    border-radius: 60px 60px 0 0;
  }
  .menu__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Shrikhand, sans-serif;
  }
  .menu .titreresto {
    margin-block-start: 0;
    padding-top: 50px;
    font-size: 30px;
    margin-left: 20px;
  }
  .menu .heart {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    cursor: pointer;
    margin: 20px 40px 0 0;
  }
  .menu .heart .fas {
    display: none;
    font-size: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu .heart:hover .fas {
    display: flex;
  }
  .menu .heart:hover .far {
    display: none;
  }
  .menu h2 {
    font-size: 20px;
    font-weight: 100;
    margin-top: 40px;
  }
  .menu__entrée__choix1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__entrée__choix1 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__entrée__choix1 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__entrée__choix1 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__entrée__choix2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__entrée__choix2 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__entrée__choix2 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__entrée__choix2 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__entrée__choix3 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__entrée__choix3 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__entrée__choix3 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__entrée__choix3 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__entrée__choix4 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__entrée__choix4 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__entrée__choix4 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__entrée__choix4 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__plat__choix1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__plat__choix1 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__plat__choix1 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__plat__choix1 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__plat__choix2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__plat__choix2 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__plat__choix2 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__plat__choix2 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__plat__choix3 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__plat__choix3 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__plat__choix3 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__plat__choix3 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__dessert__choix1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__dessert__choix1 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__dessert__choix1 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__dessert__choix1 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__dessert__choix2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__dessert__choix2 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__dessert__choix2 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__dessert__choix2 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu__dessert__choix3 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #9E9D9D;
    margin: 0 2.5% 20px 2.5%;
  }
  .menu__dessert__choix3 .legende__gras {
    font-weight: 700;
    margin: 0 0 0 15px;
  }
  .menu__dessert__choix3 .legende p {
    margin: 10px 0 10px 15px;
    font-size: 18px;
  }
  .menu__dessert__choix3 .prix {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 700;
  }
  .menu .command {
    display: flex;
    justify-content: center;
    margin: 50px 25% 80px 25%;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
  .menu .returntop {
    display: flex;
    justify-content: flex-end;
    margin: 0 25px 25px 0;
  }
  .menu .returntop .up {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    padding: 20px;
    box-shadow: 3px 5px 10px #9E9D9D;
  }
}

/*# sourceMappingURL=styles.css.map */
