header{
    font-family: $font-text;
    text-align: center;

    .location{
        font-family: $font-text;
        font-size: 1.25em;
        font-weight: 700;
    }
    h1{
        font-weight: 700;
    }
    p{
        font-size: 1.3em;
    }
    a{
        text-decoration: none;
        font-size: 1.25em;
        color: white;
    }
}

.titre-index{
    font-family: $font-text;
}

h2{
    font-family: $font-text;
}

.function{
    list-style-type: none;
    font-family: $font-text;
    font-weight: 700;
    &__card{
        display: flex;
        text-align: center;
        font-size: 1.3em;
        .numberlist{
        color: white;
        font-weight: 700;
        font-size: 0.75em;
        }
        .textlist{
            text-align: left;
        }
        .iconelist{
            color: #7E7E7E;
        }        
    }

}

.pin{
    font-family: $font-text;
    font-weight: 500;
}

.legende{
    font-family: $font-text;
    font-size: 1.3em;
}
.legende_gras{
    font-weight: 700;
}

footer{
    font-family: $font-text;
}

input{
    font-family: $font-text;
    font-size: 1.1rem;
}

textarea{
    font-family: $font-text;
    font-size: 1.1rem;

}

.command{
    font-family: $font-text;
    font-weight: 700;
}

.send{
    font-family: $font-text;
    font-weight: 700;
}