.mail{
    &__user{
        @include mail;
        }
    &__object{
        @include mail;
    }
    &__text{
        @include mail;
    }
}

.send{
    display: flex;
    justify-content: center;
    margin: 25px 40% 80px 40%;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, $secondary-color, $primary-color);
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: $shadow-box;
}

@media all and (max-width: 1024px){
    .mail{
        &__user{
            @include mail;
            }
        &__object{
            @include mail;
        }
        &__text{
            @include mail;
        }
    }

    .send{
        display: flex;
        justify-content: center;
        margin: 25px 25% 80px 25%;
        text-decoration: none;
        color: white;
        background: linear-gradient(170deg, $secondary-color, $primary-color);
        padding: 20px 30px 20px 30px;
        border-radius: 40px;
        box-shadow: $shadow-box;
    }

}