
@mixin animation-check {
    .valid{
        width: 0px;
        transform: scaleX(1);
        transition: width 500ms;
        overflow: hidden;
        .fa-check{
            transform: rotate(0deg);
            transition: transform 500ms;
        }
    }
    .legende{
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover{
        .valid{
            width: 100px;
            .fa-check{
                transform: rotate(360deg);
                transition: transform 500ms;
            }
        }
        .prix{
            width: 40px;
        }
        .legende{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
