
@mixin animation-check {
    .valid{
        width: 0px;
        transform: scaleX(1);
        transition: width 500ms;
        overflow: hidden;
        .fa-check{
            transform: rotate(0deg);
            transition: transform 500ms;
        }
    }
    &:hover{
        .valid{
            width: 100px;
            .fa-check{
                transform: rotate(360deg);
                transition: transform 500ms;
            }
        }
    }
}