@mixin function {
    background-color: $section-background;
            margin-bottom: 25px;
            padding: 30px 40px 25px 40px;
            border-radius: 20px;
            box-shadow: $shadow-box;
            display: flex;
            justify-content: left;
            align-items: center;
            .numberlist{
            background-color: $primary-color;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin: 0 25px 0 -55px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .textlist{
            margin-left: 25px;
        }
}

@mixin typo_function {
    text-align: center;
        font-size: 1.3em;
        .numberlist{
        color: white;
        font-weight: normal;
        font-size: 0.75em;
        }
    .textlist{
        text-align: center;
    }
}

@mixin menu {
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow-box;
    margin: 0 2.5% 20px 2.5%;
    cursor: pointer;
    .legende{
        width: 370px;
        &__gras{
            font-weight: 700;
            margin: 0 0 0 15px;
        }
        p{
            height: 22px;
            margin: 10px 0 10px 15px;
            font-size: 18px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .prix{
        flex: 1 1;
        text-align: right;
        display: flex;
        align-items: flex-end;
        width: auto;
        margin-right: 20px;
        font-weight: 700;
    }
}