@mixin function {
    background-color: $section-background;
    margin-bottom: 25px;
    padding: 30px 40px 25px 40px;
    border-radius: 20px;
    box-shadow: $shadow-box;
    display: flex;
    justify-content: left;
    align-items: center;
    .numberlist{
    background-color: $primary-color;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 25px 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .textlist{
        margin-left: 25px;
    }
}

@mixin menu {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 77px;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow-box;
    margin: 0 2.5% 20px 2.5%;
    cursor: pointer;
    .legende{
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &__gras{
            font-weight: 700;
            margin: 0 0 0 15px;
        }
        p{
            animation: textreduction 750ms ease-in-out;
            height: 22px;
            width: auto;
            margin: 10px 0 10px 15px;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .prix{
        flex: 1 1;
        text-align: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 30px;
        margin-right: 20px;
        font-weight: 700;
    }
}

@mixin mail {
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
        input{
            outline: none;
            width: 90%;
            padding: 10px;
            border-radius: 20px;
            border-color: $secondary-color;
            border-style: none;
            box-shadow: $shadow-box;
        }
        textarea{
            outline: none;
            width: 90%;
            padding: 10px;
            border-radius: 20px;
            border-color: $secondary-color;
            border-style: none;
            box-shadow: $shadow-box;
        }
}