$section-width: 100%;
$section-background: #F4F4F4;
$shadow-box: 3px 5px 10px  #9E9D9D ;

$font-text: Roboto, sans-serif;
$font-title: Shrikhand, sans-serif;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$hover-color: #F5E9FF;

